#gamehandler{
    background-color: rgba(15, 5, 54, 0.438);
    background-blend-mode: normal;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace
}
#gamehandler2{
    background-color: rgba(15, 5, 54, 0.438);
    background-blend-mode: normal;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace
}
#top{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-image: url(bg2.jpg);
    width: 70%;
    height: 400px;
    overflow: hidden;
}

p{
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    font-size: 20px;
}
a{
    text-decoration-color: #2A7B9B;
    color: #2A7B9B;
}
body{
    background: #2A7B9B;
    background: linear-gradient(90deg, rgb(17, 52, 66) 0%, rgb(55, 126, 84) 50%, rgb(151, 141, 52) 100%);
    text-transform: lowercase;
}